
#g3d_implement {
    display: grid;
    gap: 10px;
    transform: rotate(-12deg);
    position: relative;
  left: 127px;
}

#g3d_implement2 {
    display: grid;
    gap: 10px;
    transform: rotate(-12deg);
    margin-left: 16px;
    position: relative;
  left: 130px;
}
 .integration-logo-card {
    height: 240px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E1E1E1;
  border-radius: 20px;
  transition: transform 0.2s linear;
}
.integration-logo-card img {
    height: 94px;
  max-width: 94px;
  object-fit: contain;
  transition: transform 0.2s linear;
}
@media only screen and (max-width: 1200px) and (min-width: 991px) {
    #g3d_implement {
        left: 203px;
        position: relative;
    }
    #g3d_implement2 {
        position: relative;
        left: 207px;
    }
    .integration-logo-card {
        height: 180px;
        width: 180px;
    }
     .integration-logo-card img {
         height: 50px;
     }
}

